@import "normalize.css";

$assetPath: "/ASSETS/IMG/LOGO.PNG";

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background: url("https://themes.fourthwall.com/themes/assets/11d2f253-34b7-4fdc-b01b-17868cd74972/assets/video-bg-dark.mp4?v=ab4ceb1e95742187fe677bf9070cf092638955e28eec6d5b87a3db7455d9948b") no-repeat center center fixed;
  background-size: cover;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5; /* Adjust the opacity as per your preference */
}

#background-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
